.card {
  width: 320px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255 255 255);
  box-shadow: rgb(0 0 0 / 5%) 0 6px 24px 0, rgb(0 0 0 / 8%) 0 0 0 1px;
}

.info {
  display: flex;
  justify-content: space-between;
}
